@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100&display=swap" rel="stylesheet">

<div>
   @*  <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div class="jumbotron m-2">
        <h1 class="display-4">Welcome To Folla Accessories</h1>
        <p class="lead">Discover our distinctive collection of elegant accessories, to reflect your style and taste in the most beautiful way! 💎 💮❤️</p>
        <a class="btn btn-success btn-lg">learn more</a>
        </div>
  
</div>
